@use "/styles/util.scss";
// @use "/styles/asset/color";
.container {
  height: 100vh;
  width: 100vw;
  display: grid;
  grid-template-columns: 90px auto 420px;
  grid-template-rows: 35px auto 180px;

  #menuTool {
    grid-column: 1 / 4;
    grid-row: 1 / 2;
    background: util.rgbConverter();
    background: var(--bg_card);
    color: var(--title);

    display: grid;
    width: 100%;
    align-items: center;
    .title {
      grid-column: 2 / 3;
      justify-self: center;
    }
    svg {
      path,
      line {
        stroke: var(--title);
      }
    }
    .socialLogin {
      grid-column: 3 / 4;
      justify-self: flex-end;
    }
  }
  #commandTool {
    grid-column: 1 / 2;
    grid-row: 2 / 4;
    background: util.rgbConverter();
    color: var(--title);
  }
  #drawScreen {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    background: var(--bg_main);
    color: var(--title);

    overflow: auto; //for scrolling canvas on grid
    min-width: 0px;
    min-height: 0px;
  }

  #sideTool {
    grid-column: 3 / 4;
    grid-row: 2 / 4;
    background: util.rgbConverter();
    color: var(--title);
  }
  #animationTool {
    grid-column: 2 / 3;
    grid-row: 3 / 4;
    background: util.rgbConverter();
    color: var(--title);
  }
}
